<a href="https://colab.research.google.com/github/theclassofai/Intro_2_Colab/blob/master/2_DataDemo.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## First Way of loading data: Manully locate the file

1. Upload data manually or from code in cell 2
2. Unzip the zip file and extract all files in it

In [0]:
from google.colab import files
uploaded = files.upload()

In [0]:
# Unzip Data 

from zipfile import ZipFile

file_name = "singapore-airbnb.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

In [0]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('listings.csv')
df.head()

## Second Way of loading data: Mounting Google Drive

1. Mount Google Drive and upload the data to Google drive
2. Unzip the zip file and extract all files in it

In [1]:
from google.colab import drive
drive.mount('/content/drive')

Go to this URL in a browser: https://accounts.google.com/o/oauth2/auth?client_id=947318989803-6bn6qk8qdgf4n4g3pfee6491hc0brc4i.apps.googleusercontent.com&redirect_uri=urn%3Aietf%3Awg%3Aoauth%3A2.0%3Aoob&scope=email%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdocs.test%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fdrive.photos.readonly%20https%3A%2F%2Fwww.googleapis.com%2Fauth%2Fpeopleapi.readonly&response_type=code

Enter your authorization code:
··········
Mounted at /content/drive

In [3]:
# Upload data
from zipfile import ZipFile
file_name = "/content/drive/My Drive/singapore-airbnb.zip"
with ZipFile(file_name, 'r') as zip:
  zip.extractall()
  print('done')

done

In [4]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('listings.csv')
df.head()

      id  ... availability_365
0  49091  ...              365
1  50646  ...              365
2  56334  ...              365
3  71609  ...              353
4  71896  ...              355

[5 rows x 16 columns]

## Third Way of loading data: Using Git

Some times your data is too big in size such as in GBs, so create a new Git repository and upload your data there and then use Git to clone it 

1. Create a new repo in Git and upload your data
2. Clone it in Colab
2. Unzip the zip file and extract all files in it

In [5]:
! git clone https://github.com/awesomedata/awesome-public-datasets.git

Cloning into 'awesome-public-datasets'...
remote: Enumerating objects: 9, done.
remote: Counting objects: 100% (9/9), done.
remote: Compressing objects: 100% (7/7), done.
remote: Total 1779 (delta 4), reused 7 (delta 2), pack-reused 1770
Receiving objects: 100% (1779/1779), 682.41 KiB | 15.51 MiB/s, done.
Resolving deltas: 100% (1061/1061), done.

In [7]:
! git clone https://github.com/datasets/country-list.git

Cloning into 'country-list'...
remote: Enumerating objects: 96, done.
remote: Total 96 (delta 0), reused 0 (delta 0), pack-reused 96
Unpacking objects: 100% (96/96), done.

In [8]:
# Read CSV file using pandas

import pandas as pd
df=pd.read_csv('country-list/data.csv')
df.head()

             Name Code
0     Afghanistan   AF
1   Åland Islands   AX
2         Albania   AL
3         Algeria   DZ
4  American Samoa   AS