<a href="https://colab.research.google.com/github/theclassofai/Intro_2_Colab_Python/blob/master/Lesson2_Python_If_While_For.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to The Class of AI
---

## If Statements
If statments are used to test for a particular conditions and respond appropriatly:

 Conditional tests
* equals                    : `x == 72`
* not equal                 : `x != 72`
* greater than              : `x > 72`
* greater than or equal to  : `x >= 72`
* less than                 : `x < 72`
* less than or equal to     : `x <= 72`

In [0]:
# Example 

x = 12
print(x<=72)

True

In [0]:
# Conditional test with list and tuples
print('apple' in thistuple)# tuple
print(8 in power_copy) # List

True
True

In [0]:
# A simple if test
age = 16
if age >= 17:
  print("You can drive! ")
else:
  print("Sorry, you can't drive!")

Sorry, you can't drive!

In [0]:
# If else if
age = 2

if age >= 18:
  print("You can watch movie")
elif age <=18 and age >=12:
  print("You need to have some one with you above 18 to watch the movie")
else:
  print("Sorry, you can't watch movie")

Sorry, you can't watch movie

In [0]:
# Use of user input
age = int(input("What is your age in years, please?"))

if age >= 18:
  print("You can watch movie")
elif age <=18 and age >=12:
  print("You need to have some one with you above 18 to watch the movie")
else:
  print("Sorry, you can't watch movie")

What is your age in years, please?34
You can watch movie

## While loop

With the while loop we can execute a set of statements as long as a condition is `true`

In [0]:
i = 1
while i < 4:
  print(i)
  i += 1

1
2
3

In [0]:
# With the break statement we can stop the loop even if the while condition is true

i = 1
while i < 10:
  print(i)
  if i == 5:
    break
  i += 1

1
2
3
4
5

In [0]:
# With the continue statement we can stop the current iteration, and continue with the next

i = 0
while i < 6:
  i += 1
  if i == 3:
    continue
  print(i)

1
2
4
5
6

## For Loop 

A for loop is used for iterating over a sequence (that is either a `list`, a `tuple`, a `dictionary`, a `set`, or a `string`).

With the for loop we can execute a set of statements, once for each item in a list, tuple, set etc.

In [0]:
cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  print(x)

bmw
audi
mercedes
honda
toyota
kia

In [0]:
# Looping through string

for x in "mercedes":
  print(x)

m
e
r
c
e
d
e
s

In [0]:
# Break Statement

cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  print(x)
  if x == "honda":
    break

bmw
audi
mercedes
honda

In [0]:
# Continue statment

cars = ["bmw", "audi", "mercedes", "honda", "toyota", "kia"]
for x in cars:
  if x == "mercedes":
    continue
  print(x)

bmw
audi
honda
toyota
kia

In [0]:
# Range function

for x in range(6):
  print(x)

0
1
2
3
4
5

In [0]:
for x in range(3, 6):
  print(x)

3
4
5

In [0]:
# Else in For Loop
for x in range(7):
  print(x)
else:
  print("Finally finished!")

0
1
2
3
4
5
6
Finally finished!

In [0]:
# Nested loop

cars = ["bmw", "audi", "mercedes"]
bikes = ["yamaha", "kawasaki", "ducati"]

for x in cars:
  for y in bikes:
    print(x, y)

bmw yamaha
bmw kawasaki
bmw ducati
audi yamaha
audi kawasaki
audi ducati
mercedes yamaha
mercedes kawasaki
mercedes ducati