<a href="https://colab.research.google.com/github/theclassofai/Intro_2_Colab_Python/blob/master/Lesson_10_ImportingData.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [11]:
!git clone https://github.com/theclassofai/Intro_2_Colab_Python.git

Cloning into 'Intro_2_Colab_Python'...
remote: Enumerating objects: 112, done.
remote: Counting objects: 100% (112/112), done.
remote: Compressing objects: 100% (108/108), done.
remote: Total 112 (delta 51), reused 0 (delta 0), pack-reused 0
Receiving objects: 100% (112/112), 983.76 KiB | 3.14 MiB/s, done.
Resolving deltas: 100% (51/51), done.

In [2]:
# UNIX, Linux, MacOS, the directory separator is “/”
# Windows the directory separator is “\”
# Solution: if you are using it in multiple os, please use {sep} 

from os import sep
filein = open(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}hello.txt")
print(filein.read())

Hi, welcome to the class of AI

## Reading CSV

In [0]:
import csv

with open(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}Player.csv", newline='') as file_to_read:
  filereader = csv.reader(file_to_read, delimiter=',', quotechar='|')
  for row in filereader:
    print(len(row), row)

8 ['Player_Id', 'Player_Name', 'DOB', 'Batting_Hand', 'Bowling_Skill', 'Country', 'Is_Umpire', '']
8 ['1', 'SC Ganguly', '8-Jul-72', 'Left_Hand', 'Right-arm medium', 'India', '0', '']
8 ['2', 'BB McCullum', '27-Sep-81', 'Right_Hand', 'Right-arm medium', 'New Zealand', '0', '']
8 ['3', 'RT Ponting', '19-Dec-74', 'Right_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['4', 'DJ Hussey', '15-Jul-77', 'Right_Hand', 'Right-arm offbreak', 'Australia', '0', '']
8 ['5', 'Mohammad Hafeez', '17-Oct-80', 'Right_Hand', 'Right-arm offbreak', 'Pakistan', '0', '']
8 ['6', 'R Dravid', '11-Jan-73', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['7', 'W Jaffer', '16-Feb-78', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['8', 'V Kohli', '5-Nov-88', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['9', 'JH Kallis', '16-Oct-75', 'Right_Hand', 'Right-arm fast-medium', 'South Africa', '0', '']
8 ['10', 'CL White', '18-Aug-83', 'Right_Hand', 'Legbreak googly', 'Australia', '0', '']
8 ['11', 'MV Boucher', '3-Dec-76', 'Right_Hand', 'Right-arm medium', 'South Africa', '0', '']
8 ['12', 'B Akhil', '7-Oct-77', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['13', 'AA Noffke', '30-Apr-77', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['14', 'P Kumar', '2-Oct-86', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['15', 'Z Khan', '7-Oct-78', 'Right_Hand', 'Left-arm fast-medium', 'India', '0', '']
8 ['16', 'SB Joshi', '6-Jun-70', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['17', 'PA Patel', '9-Mar-85', 'Left_Hand', 'NULL', 'India', '0', '']
8 ['18', 'ML Hayden', '29-Oct-71', 'Left_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['19', 'MEK Hussey', '27-May-75', 'Left_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['20', 'MS Dhoni', '7-Jul-81', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['21', 'SK Raina', '27-Nov-86', 'Left_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['22', 'JDP Oram', '28-Jul-78', 'Left_Hand', 'Right-arm fast-medium', 'New Zealand', '0', '']
8 ['23', 'S Badrinath', '30-Aug-80', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['24', 'K Goel', '24-Dec-86', 'Left_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['25', 'JR Hopes', '24-Oct-78', 'Right_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['26', 'KC Sangakkara', '27-Oct-77', 'Left_Hand', 'Right-arm offbreak', 'Sri Lanka', '0', '']
8 ['27', 'Yuvraj Singh', '12-Dec-81', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['28', 'SM Katich', '21-Aug-75', 'Left_Hand', 'Slow left-arm chinaman', 'Australia', '0', '']
8 ['29', 'IK Pathan', '27-Oct-84', 'Left_Hand', 'Left-arm medium-fast', 'India', '0', '']
8 ['30', 'T Kohli', '17-Dec-88', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['31', 'YK Pathan', '17-Nov-82', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['32', 'SR Watson', '17-Jun-81', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['33', 'M Kaif', '1-Dec-80', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['34', 'DS Lehmann', '5-Feb-70', 'Left_Hand', 'Slow left-arm orthodox', 'Australia', '0', '']
8 ['35', 'RA Jadeja', '6-Dec-88', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['36', 'M Rawat', '25-Oct-85', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['37', 'D Salunkhe', '12-Nov-82', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['38', 'SK Warne', '13-Sep-69', 'Right_Hand', 'Legbreak googly', 'Australia', '0', '']
8 ['39', 'SK Trivedi', '4-Sep-82', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['40', 'G Gambhir', '14-Oct-81', 'Left_Hand', 'Legbreak', 'India', '0', '']
8 ['41', 'V Sehwag', '20-Oct-78', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['42', 'S Dhawan', '5-Dec-85', 'Left_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['43', 'L Ronchi', '23-Apr-81', 'Right_Hand', 'NULL', 'Australia', '0', '']
8 ['44', 'ST Jayasuriya', '30-Jun-69', 'Left_Hand', 'Slow left-arm orthodox', 'Sri Lanka', '0', '']
8 ['45', 'DJ Thornely', '1-Oct-78', 'Right_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['46', 'RV Uthappa', '11-Nov-85', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['47', 'PR Shah', '3-Nov-87', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['48', 'AM Nayar', '8-Oct-83', 'Left_Hand', 'Right-arm medium', 'India', '0', '']
8 ['49', 'SM Pollock', '16-Jul-73', 'Right_Hand', 'Right-arm fast-medium', 'South Africa', '0', '']
8 ['50', 'Harbhajan Singh', '3-Jul-80', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['51', 'S Chanderpaul', '16-Aug-74', 'Left_Hand', 'Legbreak', 'West Indies', '0', '']
8 ['52', 'LRPL Taylor', '8-Mar-84', 'Right_Hand', 'Right-arm offbreak', 'New Zealand', '0', '']
8 ['53', 'AC Gilchrist', '14-Nov-71', 'Left_Hand', 'Right-arm offbreak', 'Australia', '0', '']
8 ['54', 'Y Venugopal Rao', '26-Feb-82', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['55', 'VVS Laxman', '1-Nov-74', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['56', 'A Symonds', '9-Jun-75', 'Right_Hand', 'Right-arm offbreak', 'Australia', '0', '']
8 ['57', 'RG Sharma', '30-Apr-87', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['58', 'SB Styris', '10-Jul-75', 'Right_Hand', 'Right-arm medium', 'New Zealand', '0', '']
8 ['59', 'SB Bangar', '11-Oct-72', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['60', 'WPUJC Vaas', '27-Jan-74', 'Left_Hand', 'Left-arm fast-medium', 'Sri Lanka', '0', '']
8 ['61', 'RP Singh', '6-Dec-85', 'Right_Hand', 'Left-arm fast-medium', 'India', '0', '']
8 ['62', 'WP Saha', '24-Oct-84', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['63', 'LR Shukla', '6-May-81', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['64', 'DPMD Jayawardene', '27-May-77', 'Right_Hand', 'Right-arm medium', 'Sri Lanka', '0', '']
8 ['65', 'S Sohal', '10-Nov-87', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['66', 'B Lee', '8-Nov-76', 'Right_Hand', 'Right-arm fast', 'Australia', '0', '']
8 ['67', 'PP Chawla', '24-Dec-88', 'Left_Hand', 'Legbreak', 'India', '0', '']
8 ['68', 'WA Mota', '20-Sep-81', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['69', 'Kamran Akmal', '13-Jan-82', 'Right_Hand', 'NULL', 'Pakistan', '0', '']
8 ['70', 'Shahid Afridi', '1-Mar-80', 'Right_Hand', 'Legbreak googly', 'Pakistan', '0', '']
8 ['71', 'DJ Bravo', '7-Oct-83', 'Right_Hand', 'Right-arm medium-fast', 'West Indies', '0', '']
8 ['72', 'MA Khote', '22-Apr-80', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['73', 'A Nehra', '29-Apr-79', 'Right_Hand', 'Left-arm medium-fast', 'India', '0', '']
8 ['74', 'GC Smith', '1-Feb-81', 'Left_Hand', 'Right-arm offbreak', 'South Africa', '0', '']
8 ['75', 'Pankaj Singh', '6-May-85', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['76', 'RR Sarwan', '23-Jun-80', 'Right_Hand', 'Legbreak', 'West Indies', '0', '']
8 ['77', 'S Sreesanth', '6-Feb-83', 'Right_Hand', 'Right-arm fast-medium', 'India', '0', '']
8 ['78', 'VRV Singh', '17-Sep-84', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['79', 'SS Tiwary', '30-Dec-89', 'Left_Hand', 'NULL', 'India', '0', '']
8 ['80', 'DS Kulkarni', '10-Dec-88', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['81', 'R Vinay Kumar', '12-Feb-84', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['82', 'AB Agarkar', '4-Dec-77', 'Right_Hand', 'Right-arm fast', 'India', '0', '']
8 ['83', 'M Kartik', '11-Sep-76', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['84', 'I Sharma', '2-Sep-88', 'Right_Hand', 'Right-arm fast-medium', 'India', '0', '']
8 ['85', 'AM Rahane', '6-Jun-88', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['86', 'Shoaib Malik', '1-Feb-82', 'Right_Hand', 'Right-arm offbreak', 'Pakistan', '0', '']
8 ['87', 'MK Tiwary', '14-Nov-85', 'Right_Hand', 'Legbreak googly', 'India', '0', '']
8 ['88', 'KD Karthik', '1-Jun-85', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['89', 'R Bhatia', '22-Oct-79', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['90', 'MF Maharoof', '7-Sep-84', 'Right_Hand', 'Right-arm fast-medium', 'India', '0', '']
8 ['91', 'VY Mahesh', '21-Dec-87', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['92', 'TM Srivastava', '7-Nov-89', 'Left_Hand', 'Right-arm medium', 'India', '0', '']
8 ['93', 'B Chipli', '27-Jan-83', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['94', 'DW Steyn', '27-Jun-83', 'Right_Hand', 'Right-arm fast', 'South Africa', '0', '']
8 ['95', 'DB Das', '22-Sep-86', 'Right_Hand', 'Legbreak googly', 'India', '0', '']
8 ['96', 'MK Pandey', '10-Sep-89', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['97', 'HH Gibbs', '23-Feb-74', 'Right_Hand', 'Right-arm bowler', 'South Africa', '0', '']
8 ['98', 'DNT Zoysa', '13-May-78', 'Left_Hand', 'Left-arm fast-medium', 'Sri Lanka', '0', '']
8 ['99', 'D Kalyankrishna', '16-Dec-83', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['100', 'SE Marsh', '9-Jul-83', 'Left_Hand', 'Slow left-arm orthodox', 'Australia', '0', '']
8 ['101', 'SA Asnodkar', '29-Mar-84', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['102', 'Sohail Tanvir', '12-Dec-84', 'Left_Hand', 'Left-arm medium-fast', 'Pakistan', '0', '']
8 ['103', 'Salman Butt', '7-Oct-84', 'Left_Hand', 'Right-arm offbreak', 'Pakistan', '0', '']
8 ['104', 'BJ Hodge', '29-Dec-74', 'Right_Hand', 'Right-arm offbreak', 'Australia', '0', '']
8 ['105', 'Umar Gul', '14-Apr-84', 'Right_Hand', 'Right-arm fast-medium', 'Pakistan', '0', '']
8 ['106', 'AB Dinda', '25-Mar-84', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['107', 'SP Fleming', '1-Apr-73', 'Left_Hand', 'NULL', 'New Zealand', '0', '']
8 ['108', 'S Vidyut', '3-Dec-81', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['109', 'JA Morkel', '10-Jun-81', 'Left_Hand', 'Right-arm medium-fast', 'South Africa', '0', '']
8 ['110', 'AB de Villiers', '17-Feb-84', 'Right_Hand', 'Right-arm medium', 'South Africa', '0', '']
8 ['111', 'LPC Silva', '14-Dec-79', 'Right_Hand', 'Legbreak', 'Sri Lanka', '0', '']
8 ['112', 'DB Ravi Teja', '5-Sep-87', 'Right_Hand', 'Legbreak googly', 'India', '0', '']
8 ['113', 'Misbah-ul-Haq', '28-May-74', 'Right_Hand', 'Legbreak', 'Pakistan', '0', '']
8 ['114', 'YV Takawale', '5-Nov-84', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['115', 'RR Raje', '3-Sep-86', 'Right_Hand', 'Right-arm fast-medium', 'India', '0', '']
8 ['116', 'PJ Sangwan', '5-Nov-90', 'Right_Hand', 'Left-arm medium', 'India', '0', '']
8 ['117', 'Mohammad Asif', '20-Dec-82', 'Left_Hand', 'Right-arm fast-medium', 'Pakistan', '0', '']
8 ['118', 'GD McGrath', '9-Feb-70', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['119', 'Joginder Sharma', '23-Oct-83', 'Right_Hand', 'Right-arm fast-medium', 'India', '0', '']
8 ['120', 'MS Gony', '4-Jan-84', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['121', 'M Muralitharan', '17-Apr-72', 'Right_Hand', 'Right-arm offbreak', 'Sri Lanka', '0', '']
8 ['122', 'M Ntini', '6-Jul-77', 'Right_Hand', 'Right-arm fast', 'South Africa', '0', '']
8 ['123', 'DT Patil', '6-Dec-84', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['124', 'A Kumble', '17-Oct-70', 'Right_Hand', 'Legbreak googly', 'India', '0', '']
8 ['125', 'S Anirudha', '14-Apr-87', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['126', 'MM Patel', '12-Jul-83', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['127', 'CK Kapugedera', '24-Feb-87', 'Right_Hand', 'Right-arm medium', 'Sri Lanka', '0', '']
8 ['128', 'A Chopra', '19-Sep-77', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['129', 'T Taibu', '14-May-83', 'Right_Hand', 'Right-arm medium', 'Zimbabwea', '0', '']
8 ['130', 'J Arunkumar', '18-Jan-75', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['131', 'PP Ojha', '5-Sep-86', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['132', 'SP Goswami', '18-May-89', 'Left_Hand', 'NULL', 'India', '0', '']
8 ['133', 'SR Tendulkar', '24-Apr-73', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['134', 'U Kaul', '2-Dec-87', 'Left_Hand', 'NULL', 'India', '0', '']
8 ['135', 'TM Dilshan', '14-Oct-76', 'Right_Hand', 'Right-arm offbreak', 'Sri Lanka', '0', '']
8 ['136', 'A Mishra', '24-Nov-82', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['137', 'AD Mascarenhas', '30-Oct-77', 'Right_Hand', 'Right-arm fast-medium', 'England', '0', '']
8 ['138', 'NK Patel', '26-Mar-81', 'Left_Hand', 'NULL', 'India', '0', '']
8 ['139', 'LA Pomersbach', '28-Sep-84', 'Left_Hand', 'Right-arm offbreak', 'Australia', '0', '']
8 ['140', 'Iqbal Abdulla', '2-Dec-89', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['141', 'Younis Khan', '29-Nov-77', 'Right_Hand', 'Right-arm medium', 'Pakistan', '0', '']
8 ['142', 'PM Sarvesh Kumar', '26-Apr-89', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['143', 'DP Vijaykumar', '20-Oct-86', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['144', 'Shoaib Akhtar', '13-Aug-75', 'Right_Hand', 'Right-arm fast', 'Pakistan', '0', '']
8 ['145', 'Abdur Razzak', '15-Jun-82', 'Left_Hand', 'Slow left-arm orthodox', 'Bangladesh', '0', '']
8 ['146', 'H Das', '10-Dec-86', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['147', 'DR Smith', '12-Apr-83', 'Right_Hand', 'Right-arm medium', 'West Indies', '0', '']
8 ['148', 'SD Chitnis', '6-May-87', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['149', 'CRD Fernando', '19-Jul-79', 'Right_Hand', 'Right-arm fast-medium', 'Sri Lanka', '0', '']
8 ['150', 'VS Yeligati', '23-Apr-85', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['151', 'L Balaji', '27-Sep-81', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['152', 'A Mukund', '6-Jan-90', 'Left_Hand', 'Legbreak googly', 'India', '0', '']
8 ['153', 'RR Powar', '20-May-78', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['154', 'JP Duminy', '14-Apr-84', 'Left_Hand', 'Right-arm offbreak', 'South Africa', '0', '']
8 ['155', 'A Flintoff', '6-Dec-77', 'Right_Hand', 'Right-arm fast-medium', 'England', '0', '']
8 ['156', 'T Thushara', '1-Mar-81', 'Left_Hand', 'Left-arm fast-medium', 'Sri Lanka', '0', '']
8 ['157', 'JD Ryder', '6-Aug-84', 'Left_Hand', 'Right-arm medium', 'New Zealand', '0', '']
8 ['158', 'KP Pietersen', '27-Jun-80', 'Right_Hand', 'Right-arm offbreak', 'South Africa', '0', '']
8 ['159', 'T Henderson', '1-Aug-74', 'Right_Hand', 'Right-arm fast-medium', 'South Africa', '0', '']
8 ['160', 'Kamran Khan', '10-Mar-91', 'Left_Hand', 'Left-arm medium-fast', 'India', '0', '']
8 ['161', 'RS Bopara', '4-May-85', 'Right_Hand', 'Right-arm medium', 'England', '0', '']
8 ['162', 'CH Gayle', '21-Sep-79', 'Left_Hand', 'Right-arm offbreak', 'West Indies', '0', '']
8 ['163', 'MC Henriques', '1-Feb-87', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['164', 'R Bishnoi', '8-Oct-87', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['165', 'FH Edwards', '6-Feb-82', 'Right_Hand', 'Right-arm fast', 'West Indies', '0', '']
8 ['166', 'KV Sharma', '23-Oct-87', 'Left_Hand', 'Legbreak googly', 'India', '0', '']
8 ['167', 'PC Valthaty', '7-Dec-83', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['168', 'RJ Quiney', '20-Aug-82', 'Left_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['169', 'AS Raut', '3-Mar-87', 'Right_Hand', 'Legbreak googly', 'India', '0', '']
8 ['170', 'Yashpal Singh', '27-Nov-81', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['171', 'M Manhas', '12-Oct-79', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['172', 'AA Bilakhia', '31-May-86', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['173', 'AN Ghosh', '19-Oct-86', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['174', 'BAW Mendis', '11-Mar-85', 'Right_Hand', 'Right-arm offbreak', 'Sri Lanka', '0', '']
8 ['175', 'DL Vettori', '27-Jan-79', 'Left_Hand', 'Slow left-arm orthodox', 'New Zealand', '0', '']
8 ['176', 'MN van Wyk', '20-Mar-79', 'Right_Hand', 'Slow left-arm orthodox', 'South Africa', '0', '']
8 ['177', 'RE van der Merwe', '31-Dec-84', 'Right_Hand', 'Slow left-arm orthodox', 'South Africa', '0', '']
8 ['178', 'TL Suman', '15-Dec-83', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['179', 'Shoaib Ahmed', '17-Aug-90', 'Right_Hand', 'Right-arm fast-medium', 'Pakistan', '0', '']
8 ['180', 'GR Napier', '6-Jan-80', 'Right_Hand', 'Right-arm medium', 'England', '0', '']
8 ['181', 'KP Appanna', '20-Dec-88', 'Right_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['182', 'LA Carseldine', '17-Nov-75', 'Left_Hand', 'Left-arm medium', 'Australia', '0', '']
8 ['183', 'NV Ojha', '20-Jul-83', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['184', 'SM Harwood', '1-Mar-74', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['185', 'M Vijay', '1-Apr-84', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['186', 'SB Jakati', '27-Nov-80', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['187', 'DA Warner', '27-Oct-86', 'Left_Hand', 'Legbreak', 'Australia', '0', '']
8 ['188', 'RJ Harris', '11-Oct-79', 'Right_Hand', 'Right-arm fast', 'Australia', '0', '']
8 ['189', 'D du Preez', '8-Nov-81', 'Right_Hand', 'Right-arm fast-medium', 'South Africa', '0', '']
8 ['190', 'M Morkel', '6-Oct-84', 'Left_Hand', 'Right-arm fast', 'South Africa', '0', '']
8 ['191', 'AD Mathews', '2-Jun-87', 'Right_Hand', 'Right-arm fast-medium', 'Sri Lanka', '0', '']
8 ['192', 'J Botha', '2-May-82', 'Right_Hand', 'Right-arm offbreak', 'South Africa', '0', '']
8 ['193', 'C Nanda', '29-Mar-79', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['194', 'SL Malinga', '28-Aug-83', 'Right_Hand', 'Right-arm fast', 'Sri Lanka', '0', '']
8 ['195', 'Mashrafe Mortaza', '5-Oct-83', 'Right_Hand', 'Right-arm fast-medium', 'Bangladesh', '0', '']
8 ['196', 'A Singh', '21-Jun-81', 'Right_Hand', 'Right-arm medium-fast', 'India', '0', '']
8 ['197', 'GJ Bailey', '7-Sep-82', 'Right_Hand', 'Right-arm medium', 'Australia', '0', '']
8 ['198', 'AB McDonald', '5-Jun-81', 'Right_Hand', 'Right-arm fast-medium', 'Australia', '0', '']
8 ['199', 'Y Nagar', '6-Jan-90', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['200', 'SS Shaikh', '18-Jan-87', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['201', 'R Ashwin', '17-Sep-86', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['202', 'Mohammad Ashraful', '7-Jul-84', 'Right_Hand', 'Right-arm offbreak', 'Bangladesh', '0', '']
8 ['203', 'CA Pujara', '25-Jan-88', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['204', 'OA Shah', '22-Oct-78', 'Right_Hand', 'Right-arm offbreak', 'England', '0', '']
8 ['205', 'Anirudh Singh', '2-Aug-80', 'Left_Hand', 'Right-arm medium', 'India', '0', '']
8 ['206', 'Jaskaran Singh', '4-Sep-89', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['207', 'AP Tare', '7-Nov-87', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['208', 'AT Rayudu', '23-Sep-85', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['209', 'R Sathish', '14-Jan-81', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['210', 'R McLaren', '9-Feb-83', 'Left_Hand', 'Right-arm medium-fast', 'South Africa', '0', '']
8 ['211', 'AA Jhunjhunwala', '1-Dec-82', 'Right_Hand', 'Right-arm offbreak', 'India', '0', '']
8 ['212', 'P Dogra', '19-Nov-84', 'Right_Hand', 'Legbreak', 'India', '0', '']
8 ['213', 'A Uniyal', '21-Nov-81', 'Left_Hand', 'Left-arm medium', 'India', '0', '']
8 ['214', 'MS Bisla', '27-Dec-84', 'Right_Hand', 'NULL', 'India', '0', '']
8 ['215', 'YA Abdulla', '17-Jan-83', 'Left_Hand', 'Left-arm fast-medium', 'India', '0', '']
8 ['216', 'EJG Morgan', '10-Sep-86', 'Left_Hand', 'Right-arm medium', 'England', '0', '']
8 ['217', 'JM Kemp', '2-Oct-77', 'Right_Hand', 'Right-arm fast-medium', 'South Africa', '0', '']
8 ['218', 'S Tyagi', '17-Sep-87', 'Right_Hand', 'Right-arm medium', 'India', '0', '']
8 ['219', 'RS Gavaskar', '20-Feb-76', 'Left_Hand', 'Slow left-arm orthodox', 'India', '0', '']
8 ['220', 'SE Bond', '7-Jun-75', 'Right_Hand', 'Right-arm fast', 'New Zealand', '0', '']
8 ['221', 'KA Pollard', '12-May-87', 'Right_Hand', 'Right-arm medium-fast', 'West Indies', '0', '']

In [0]:
# We can also use Pandas 
import pandas as pd
df = pd.read_csv(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}Player.csv")
df

     Player_Id      Player_Name        DOB  ...      Country Is_Umpire Unnamed: 7
0            1       SC Ganguly   8-Jul-72  ...        India         0        NaN
1            2      BB McCullum  27-Sep-81  ...  New Zealand         0        NaN
2            3       RT Ponting  19-Dec-74  ...    Australia         0        NaN
3            4        DJ Hussey  15-Jul-77  ...    Australia         0        NaN
4            5  Mohammad Hafeez  17-Oct-80  ...     Pakistan         0        NaN
..         ...              ...        ...  ...          ...       ...        ...
518        519      Subroto Das        NaN  ...        India         1        NaN
519        520     K Srinivasan        NaN  ...        India         1        NaN
520        521        VK Sharma        NaN  ...        India         1        NaN
521        523      AV Wankhade  14-Mar-92  ...        India         0        NaN
522        524      B Aparajith   8-Jul-94  ...        India         0        NaN

[523 rows x 8 columns]

## Reading Excel (.xls or .xlsx)

In [0]:
df = pd.read_excel(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}sampledata.xls",encoding='utf-8')
df

   0 First Name  Last Name  Gender        Country  Age        Date    Id
0  1      Dulce      Abril  Female  United States   32  15/10/2017  1562
1  2       Mara  Hashimoto  Female  Great Britain   25  16/08/2016  1582
2  3     Philip       Gent    Male         France   36  21/05/2015  2587
3  4   Kathleen     Hanner  Female  United States   25  15/10/2017  3549
4  5    Nereida    Magwood  Female  United States   58  16/08/2016  2468
5  6     Gaston      Brumm    Male  United States   24  21/05/2015  2554
6  7       Etta       Hurn  Female  Great Britain   56  15/10/2017  3598
7  8    Earlean     Melgar  Female  United States   27  16/08/2016  2456
8  9   Vincenza    Weiland  Female  United States   40  21/05/2015  6548

In [0]:
df = pd.read_excel(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}sampledata.xls",encoding='utf-8')
pd.set_option("display.max_columns", 6)
df

   0 First Name  Last Name  ... Age        Date    Id
0  1      Dulce      Abril  ...  32  15/10/2017  1562
1  2       Mara  Hashimoto  ...  25  16/08/2016  1582
2  3     Philip       Gent  ...  36  21/05/2015  2587
3  4   Kathleen     Hanner  ...  25  15/10/2017  3549
4  5    Nereida    Magwood  ...  58  16/08/2016  2468
5  6     Gaston      Brumm  ...  24  21/05/2015  2554
6  7       Etta       Hurn  ...  56  15/10/2017  3598
7  8    Earlean     Melgar  ...  27  16/08/2016  2456
8  9   Vincenza    Weiland  ...  40  21/05/2015  6548

[9 rows x 8 columns]

In [0]:
df.head()

   0 First Name  Last Name  ... Age        Date    Id
0  1      Dulce      Abril  ...  32  15/10/2017  1562
1  2       Mara  Hashimoto  ...  25  16/08/2016  1582
2  3     Philip       Gent  ...  36  21/05/2015  2587
3  4   Kathleen     Hanner  ...  25  15/10/2017  3549
4  5    Nereida    Magwood  ...  58  16/08/2016  2468

[5 rows x 8 columns]

In [0]:
df.tail(3)

   0 First Name Last Name  ... Age        Date    Id
6  7       Etta      Hurn  ...  56  15/10/2017  3598
7  8    Earlean    Melgar  ...  27  16/08/2016  2456
8  9   Vincenza   Weiland  ...  40  21/05/2015  6548

[3 rows x 8 columns]

In [0]:
# write back to excel

df[:-5].to_excel(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}sampledatanew.xls",index=False)

## Reading JSON [JavaScript Object Notation]

In [22]:
import json
import pandas as pd
tweet = json.loads(open(f"{sep}content{sep}Intro_2_Colab_Python{sep}Data{sep}twitter.json").read())
tweet.keys()

dict_keys(['text', 'truncated', 'in_reply_to_user_id', 'in_reply_to_status_id', 'favorited', 'source', 'in_reply_to_screen_name', 'in_reply_to_status_id_str', 'id_str', 'entities', 'contributors', 'retweeted', 'in_reply_to_user_id_str', 'place', 'retweet_count', 'created_at', 'retweeted_status', 'user', 'id', 'coordinates', 'geo'])

In [31]:
tweet['text']

'RT @PostGradProblem: In preparation for the NFL lockout, I will be spending twice as much time analyzing my fantasy baseball team during ...'