<a href="https://colab.research.google.com/github/theclassofai/Intro_2_Colab_Python/blob/master/Lesson1_Python_Variable_String_List_Tuple.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

# Welcome to The Class of AI
---

## Variables and Strings

* Variables are used to store values. 
* A string is a series of characters, surrounded by single or double quotes.

In [0]:
print("Welcome to The Class of AI!")

Welcome to The Class of AI!

In [0]:
msg = "We are learning Python's basic commands"
print(msg)

We are learning Python's basic commands

In [0]:
first_msg = "Welcome to The Class of AI. "
second_msg = "AI is some times called machine intelligence"

final_msg = first_msg + second_msg
print(final_msg)

Welcome to The Class of AI. AI is some times called machine intelligence

## List

A list stores a series of items in a particular order. You access items using an index, or within a loop.

In [0]:
cars = ['bmw', 'audi', 'toyota', 'tesla']
print(cars)

['bmw', 'audi', 'toyota', 'tesla']

In [0]:
# Get the first item of the list
cars[0]

'bmw'

In [0]:
# Get the last item of the list
cars[-1]

'tesla'

In [0]:
# Looping through a list
for car in cars:
  print(car)

bmw
audi
toyota
tesla

In [0]:
# Adding item to a list

bikes = []
print(bikes) 

bikes.append('Royal Enfield')
bikes.append(['Yamaha', 'Kawasaki'])
print(bikes)

print(bikes[1][0])

[]
['Royal Enfield', ['Yamaha', 'Kawasaki']]
Yamaha

In [0]:
# Making Numerical List
power = []
for x in range(1,10):
  power.append(x**2)

print(power)

[1, 4, 9, 16, 25, 36, 49, 64, 81]

In [0]:
power = []
power = [x**3 for x in range(1,15)]
print(power)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

In [0]:
# Slicing a list

power[:3]

[1, 8, 27]

In [0]:
# Copy a list
power_copy = power[:]
print(power_copy)

[1, 8, 27, 64, 125, 216, 343, 512, 729, 1000, 1331, 1728, 2197, 2744]

## Tuples
Tuples are similar to list but the items in a tuple can't be modified. But there is a workaround. You can convert the tuple into a list, change the list, and convert the list back into a tuple. Once a tuple is created, you cannot add items to it. Tuples are unchangeable.

In [0]:
dim = (2,3)
print(dim)

(2, 3)

In [0]:
thistuple = ("apple", "banana", "cherry")
print(thistuple)

('apple', 'banana', 'cherry')

In [0]:
thistuple = ("apple", "banana", "cherry")
print(thistuple[1])

banana

In [0]:
# Now let's change tuple to list
x = list(thistuple)
x[1] = 'mango'
print(x)

['apple', 'mango', 'cherry']